.custom_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1024px;
    padding: 5px 15px;
    background-color: var(--color-main-blue);
    color: var(--color-main-white)
}