.custom_button {
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1024px;
    border: none;
    padding: 10px 15px;
    background-color: var(--color-main-blue);
    color: var(--color-main-white)
}