.custom_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 15px;
    padding: 15px;
}

.custom_form > * {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 300px;
}