.account_block {
    max-width: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.dummy {
    margin-right: auto;
}

.account_block__top {
    display: flex;
    flex-direction: row;
}

.account_block__top svg {
    width: 40px;
    height: 40px;
}

.account_block__top__close {

}
